<template>
  <div class="flex flex-col flex-nowrap gap-4 max-h-[100vh]">
    <div class="flex-1 flex p-4 gap-2 ">
      <!-- 正確影片預覽 -->
      <div class="flex-1 flex justify-center items-center border relative rounded">
        <div class=" absolute text-lg opacity-30">
          正確影片預覽
        </div>

        <q-img
          :src="leftVideo.image"
          no-spinner
          no-transition
          fit="contain"
          :ratio="1"
          class=" max-h-[70vh]"
        />
      </div>

      <!-- 待測影片預覽 -->
      <div class="flex-1 flex justify-center items-center border relative rounded">
        <div class=" absolute text-lg opacity-30">
          待測影片預覽
        </div>

        <q-img
          :src="rightVideo.image"
          no-spinner
          no-transition
          fit="contain"
          :ratio="1"
          class=" max-h-[70vh]"
        />
      </div>

      <div class="flex-1 flex flex-col gap-2">
        <q-card class="my-card">
          <q-card-section class="bg-light-blue-7 text-white">
            <div class=" text-lg font-bold">
              目標肢體
            </div>
            <div class="text-subtitle2">
              可以選取指定肢體，以免不重要的肢體動作導致判斷失準
            </div>
          </q-card-section>

          <q-card-section class="">
            <q-option-group
              v-model="targetLimbs"
              :options="limbOptions"
              color="light-blue-7"
              type="checkbox"
              inline
            />
          </q-card-section>
        </q-card>

        <q-btn
          label="開始比對"
          unelevated
          color="primary"
          :disable="!canSubmitStart"
          @click="submitStart"
        />

        <q-space />
        <similarity-result
          :similarity-list="framesSimilarity"
          :left-frames="leftVideo.frames"
          :right-frames="rightVideo.frames"
        />
      </div>
    </div>

    <!-- 時間軸 -->
    <div class=" flex flex-col gap-4 w-full p-4 border-t">
      <div class="">
        <div class=" mb-1">
          正確影片
        </div>
        <video-timeline
          class=" w-full bg-white"
          @seeked="handleLeftSeeked"
          @frames="handleLeftFrames"
        />
      </div>

      <div class="">
        <div class=" mb-1">
          待測影片
        </div>
        <video-timeline
          class=" w-full"
          @seeked="handleRightSeeked"
          @frames="handleRightFrames"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';
import to from 'await-to-js';
import { ensureImageLoaded, toImage } from '../common/utils';
import { useQuasar } from 'quasar';
import { useDetectorStore } from '../stores/detector.store';
import { storeToRefs } from 'pinia';
import {
  ceil,
  clone,
  createPipe, filter, flatMap,
  hasAtLeast, identity, map, meanBy, multiply, pipe, reduce, tap
} from 'remeda';
import { poseSimilarity } from 'posenet-similarity';
import * as poseDetection from '@tensorflow-models/pose-detection';
import { then } from '../common/utils-remeda';

import VideoTimeline from '../components/video-timeline.vue';
import SimilarityResult from '../components/similarity-result.vue';

interface VideoData {
  image: string;
  frames: string[];
}

const $q = useQuasar();
const detectorStore = useDetectorStore();
const { detector } = storeToRefs(detectorStore);

const leftVideo = ref<VideoData>({
  image: '',
  frames: [],
});
function handleLeftSeeked(dataUrl: string) {
  leftVideo.value.image = dataUrl;
}
function handleLeftFrames(urls: string[]) {
  leftVideo.value.frames = urls;
}

const rightVideo = ref<VideoData>({
  image: '',
  frames: [],
});
function handleRightSeeked(dataUrl: string) {
  rightVideo.value.image = dataUrl;
}
function handleRightFrames(urls: string[]) {
  rightVideo.value.frames = urls;
}

const framesSimilarity = ref<number[]>([]);
const canSubmitStart = computed(() => {
  return leftVideo.value.frames.length !== 0 &&
    rightVideo.value.frames.length !== 0
});
async function submitStart() {
  $q.loading.show({
    message: '努力比對中...( •̀ ω •́ )✧'
  });
  let error: Error | null, result: number[] | undefined;

  [error, result] = await to(startComparison());
  // 重試一次
  if (error) {
    [error, result] = await to(startComparison());
  }
  $q.loading.hide();

  if (error) {
    $q.notify({
      type: 'negative',
      message: `分析失敗 : ${error.message}`
    });
    return;
  }
  if (!result) return;

  console.log(`🚀 ~ [ submitStart ] result:`, result);
  framesSimilarity.value = result;
}


async function calcImageSimilarity(aImage: HTMLImageElement, bImage: HTMLImageElement) {
  const poseDetector = detector.value;

  if (!poseDetector) {
    return Promise.reject('無法取得 detector');
  }

  await Promise.all([
    ensureImageLoaded(aImage),
    ensureImageLoaded(bImage),
  ]);

  const poses = await Promise.all([
    poseDetector.estimatePoses(aImage),
    poseDetector.estimatePoses(bImage),
  ]);

  const result = pipe(poses,
    clone,
    map(([pose]) => {
      if (!pose) {
        throw new Error('無法取得肢體動作，請在試一次');
      }

      return filterPoseLimb(pose);
    }),
    (poses) => {
      if (!hasAtLeast(poses, 2)) {
        throw new Error('比對數量異常，無法進行比對');
      }

      const [leftPose, rightPose] = poses;
      return poseSimilarity(
        toPoseNetPose(leftPose),
        toPoseNetPose(rightPose),
      );
    },
  );

  if (typeof result !== 'number') {
    throw result;
  }

  return 1 - result;
}
async function calcFramesSimilarity(aFrames: HTMLImageElement[], bFrames: HTMLImageElement[]) {
  const similarityList = await Promise.all(
    aFrames.map((item, i) => {
      const bFrame = bFrames[i]
      if (!bFrame) {
        throw new Error('待測影片 frames 少於正確影片數量，無法比對');
      }

      return calcImageSimilarity(item, bFrame);
    }),
  );

  return pipe(similarityList,
    map(
      createPipe(multiply(100), ceil(3))
    ),
  );
}

async function startComparison() {
  const poseDetector = detector.value;

  if (!poseDetector) {
    throw new Error('無法取得 detector');
  }

  if (leftVideo.value.frames.length === 0) {
    throw new Error('尚未取得正確影片待偵測區間');
  }
  if (rightVideo.value.frames.length === 0) {
    throw new Error('尚未取得待測影片待偵測區間');
  }

  const result = await pipe(
    [
      leftVideo.value.frames,
      rightVideo.value.frames,
    ],
    async (data) => {
      return await Promise.all(
        data.map(async (frames) => {
          const data = await Promise.all(frames.map(toImage));
          return data;
        })
      )
    },
    then(async (imagesList) => {
      if (!hasAtLeast(imagesList, 2)) {
        throw new Error('影片數量小於 2 個，無法測試');
      }

      return calcFramesSimilarity(imagesList[0], imagesList[1]);
    }),
  );

  return result;
}

// type ImageSize = Parameters<
//   typeof poseDetection.calculators.keypointsToNormalizedKeypoints
// >[1]
// const getPoseVector = (poses: poseDetection.Pose[], imageSize: ImageSize) => {
//   return pipe(
//     poses,
//     flatMap(({ keypoints }) => keypoints),
//     (keypoints) =>
//       poseDetection.calculators.keypointsToNormalizedKeypoints(
//         keypoints, imageSize
//       ),
//     flatMap(({ x, y }) => [x, y]),
//   )
// };

/** 轉換型別，相容 PoseNet 定義
 * https://github.com/freshsomebody/posenet-similarity/blob/master/src/types.ts
 */
const toPoseNetPose = createPipe(
  identity<poseDetection.Pose>,
  (data) => {
    return {
      keypoints: pipe(data.keypoints,
        map((point) => ({
          position: {
            y: point.y,
            x: point.x
          },
          part: point.name ?? '',
          score: point.score ?? 0,
        })),
      ),
    }
  },
);

/** 肢體與姿勢點位列表映射 */
const limbMap: Record<string, string[]> = {
  '頭': ['nose', 'left_eye', 'right_eye', 'left_ear', 'right_ear'],
  '軀幹': ['left_shoulder', 'right_shoulder', 'left_hip', 'right_hip'],
  '左手': ['left_elbow', 'left_wrist'],
  '右手': ['right_elbow', 'right_wrist'],
  '左腳': ['left_knee', 'left_ankle'],
  '右腳': ['right_knee', 'right_ankle']
};

const limbOptions = [
  { label: '頭', value: '頭' },
  { label: '軀幹', value: '軀幹' },
  { label: '左手', value: '左手' },
  { label: '右手', value: '右手' },
  { label: '右腳', value: '右腳' },
  { label: '左腳', value: '左腳' }
];
const targetLimbs = ref([
  '軀幹', '左手', '右手'
]);

const validPoints = computed(() => pipe(targetLimbs.value,
  reduce((acc: string[], limb) => {
    const list = limbMap[limb];
    if (list) {
      acc.push(...list);
    }

    return acc;
  }, []),
));


const filterPoseLimb = createPipe(
  identity<poseDetection.Pose>,
  (data) => {
    const keypoints = pipe(data.keypoints,
      filter(({ name }) => {
        if (!name) return false;
        return validPoints.value.includes(name);
      }),
    )

    return {
      ...data,
      keypoints,
    }
  },
);
</script>

<style scoped lang="sass">
</style>
