<template>
  <div class=" min-h-10 border p-1 flex gap-1 relative rounded">
    <div class=" flex justify-center items-center">
      <q-icon
        name="file_upload"
        size="1.4rem"
        class="px-2 cursor-pointer"
        @click="pickFile"
      />

      <q-icon
        name="info"
        size="1.4rem"
        class="px-2"
      >
        <q-tooltip class=" text-base">
          <template v-if="videoInfo">
            時長：{{ videoInfo.duration }}s<br>
            寬度：{{ videoInfo.width }}px<br>
            長度：{{ videoInfo.height }}px<br>
          </template>
          <template v-else>
            尚無影片資料
          </template>
        </q-tooltip>
      </q-icon>
    </div>

    <div
      ref="timelineRef"
      class="bg-slate-100 w-full flex-1 relative"
      @click.prevent.left="setStartSec"
      @click.prevent.right="setEndSec"
    >
      <div
        v-if="!isOutside"
        class="cursor relative"
        :style="cursorStyle"
      />

      <!-- 起點 -->
      <div
        v-if="chunk.start.seconds"
        class="cursor relative start"
        :style="chunkCursor.start.style"
      />
      <!-- 終點 -->
      <div
        v-if="chunk.end.seconds"
        class="cursor relative end"
        :style="chunkCursor.end.style"
      />

      <!-- 時長 -->
      <div
        v-if="videoInfo?.duration"
        class=" absolute top-1/2 left-0 -translate-y-1/2 text-xs opacity-50 px-2 pointer-events-none"
      >
        {{ videoInfo.duration.toFixed(2) }}s
      </div>

      <q-tooltip
        v-if="props.reviewTooltip"
        ref="tooltipRef"
        anchor="top left"
        self="bottom middle"
        :offset="[-elementX, 0]"
      >
        <img
          :src="seekedImage"
          class=" h-[8rem]"
        >
      </q-tooltip>
    </div>

    <q-inner-loading :showing="isLoading" />
  </div>
</template>

<script setup lang="ts">
import { VideoInfo } from '../types';
import {
  useMouseInElement,
  watchThrottled,
  watchDebounced,
} from '@vueuse/core';

import { QTooltip, useQuasar } from 'quasar';
import { pipe, multiply, hasAtLeast, range, map, add, ceil } from 'remeda';
import { computed, onUnmounted, reactive, ref, shallowRef, watch, watchEffect } from 'vue';

interface Props {
  reviewTooltip?: boolean;
  frameQuantity?: number;
}
const props = withDefaults(defineProps<Props>(), {
  reviewTooltip: false,
  frameQuantity: 5,
});

const emit = defineEmits<{
  (e: 'seeked', dataUrl: string): void;
  /** 指定範圍採樣的圖像清單 */
  (e: 'frames', dataUrls: string[]): void;
  (e: 'loading', loading: boolean): void;
  (e: 'error', text: string): void;
}>();

const $q = useQuasar();

const pickedFile = shallowRef<File>();
const video = document.createElement('video');
const videoInfo = ref<VideoInfo>();
const seekedImage = ref('');
const isLoading = ref(false);

watchEffect(() => {
  emit('loading', isLoading.value)
});

function handleLoadedmetadata() {
  videoInfo.value = {
    duration: ceil(video.duration, 2),
    width: video.videoWidth,
    height: video.videoHeight,
  };
}
function handleSeeked() {
  const canvas = document.createElement('canvas');
  canvas.width = video.videoWidth;
  canvas.height = video.videoHeight;

  const ctx = canvas.getContext('2d');
  if (!ctx) {
    $q.notify({
      type: 'negative',
      message: '[ onseeked ] 取得 canvas ctx 失敗'
    });
    return;
  }

  ctx.drawImage(video, 0, 0, canvas.width, canvas.height);

  canvas.toBlob((blob) => {
    const url = URL.createObjectURL(blob!);
    seekedImage.value = url;
    emit('seeked', url);
  }, 'image/jpeg', 1);
}
function pickFile() {
  const input = document.createElement('input');
  input.type = 'file';

  input.onchange = (event) => {
    if (!(event.target instanceof HTMLInputElement)) return;

    const file = event.target?.files?.[0];
    if (!file || !file?.type.includes('video')) {
      emit('error', '只能選擇影片');
      videoInfo.value = undefined;
      return;
    }
    pickedFile.value = file;

    // 清空
    resetChunk();

    // 載入影片
    cursor.value.x = 0;
    video.currentTime = 0;

    video.addEventListener('loadedmetadata', handleLoadedmetadata);
    video.addEventListener('seeked', handleSeeked);

    video.src = URL.createObjectURL(file);
  }

  input.click();
}

onUnmounted(() => {
  video.removeEventListener('loadedmetadata', handleLoadedmetadata);
  video.removeEventListener('seeked', handleSeeked);
});

const tooltipRef = ref<InstanceType<typeof QTooltip>>();
const timelineRef = ref();
const {
  elementX,
  elementWidth,
  isOutside
} = useMouseInElement(timelineRef);

const cursor = ref({
  x: 0,
});
const cursorStyle = computed(() => {
  return {
    translate: `${cursor.value.x}px 0`,
  }
});

watchEffect(() => {
  if (isOutside.value) return;
  cursor.value.x = elementX.value;
});

watchThrottled(cursor, ({ x }) => {
  if (isOutside.value) return;

  const duration = videoInfo.value?.duration;
  if (!duration) return;

  const seconds = pipe(
    x / elementWidth.value,
    multiply(duration),
  );

  tooltipRef.value?.updatePosition();
  video.currentTime = seconds;
}, {
  throttle: 200,
  deep: true,
});


const chunk = ref<{
  start: {
    x?: number;
    seconds?: number;
  },
  end: {
    x?: number;
    seconds?: number;
  }
}>({
  start: {
    x: undefined,
    seconds: undefined,
  },
  end: {
    x: undefined,
    seconds: undefined,
  }
});
function resetChunk() {
  chunk.value = {
    start: {
      x: undefined,
      seconds: undefined,
    },
    end: {
      x: undefined,
      seconds: undefined,
    }
  }
}

const chunkCursor = computed(() => {
  return {
    start: {
      style: {
        translate: `${chunk.value.start.x}px 0`,
      }
    },
    end: {
      style: {
        translate: `${chunk.value.end.x}px 0`,
      }
    },
  }
});

function setStartSec() {
  if (!videoInfo.value?.duration) {
    $q.notify({
      type: 'negative',
      message: '尚未載入影片',
      timeout: 1000,
    });
    return;
  }

  if (chunk.value.end.x && chunk.value.end.x < elementX.value) {
    $q.notify({
      type: 'negative',
      message: '開始點不可比結束點晚',
      timeout: 1000,
    });
    return;
  }

  chunk.value.start = {
    x: elementX.value,
    seconds: video.currentTime
  }
}
function setEndSec() {
  if (!videoInfo.value?.duration) {
    $q.notify({
      type: 'negative',
      message: '尚未載入影片',
      timeout: 1000,
    });
    return;
  }

  if (chunk.value.start.x && chunk.value.start.x > elementX.value) {
    $q.notify({
      type: 'negative',
      message: '結束點不可比開始點早',
      timeout: 1000,
    });
    return;
  }

  chunk.value.end = {

    x: elementX.value,
    seconds: video.currentTime
  }
}

watchDebounced(chunk, async ({ start, end }) => {
  const file = pickedFile.value;
  if (!file) return;

  const startSec = start.seconds;
  const endSec = end.seconds;
  if (!startSec || !endSec) {
    return;
  }

  emit('frames', []);
  isLoading.value = true;

  const diff = Math.abs(endSec - startSec);
  const moments = pipe(
    range(0, props.frameQuantity),
    map((value) => value * diff + startSec),
  );
  console.log(`🚀 ~ moments:`, moments);

  const tasks = moments.map((moment) =>
    new Promise<string>((resolve) => {
      const newVideo = document.createElement('video');

      newVideo.addEventListener('seeked', () => {
        const canvas = document.createElement('canvas');
        canvas.width = newVideo.videoWidth;
        canvas.height = newVideo.videoHeight;

        const ctx = canvas.getContext('2d');
        if (!ctx) {
          $q.notify({
            type: 'negative',
            message: '[ onseeked ] 取得 canvas ctx 失敗'
          });
          return;
        }

        ctx.drawImage(newVideo, 0, 0, canvas.width, canvas.height);

        canvas.toBlob((blob) => {
          const url = URL.createObjectURL(blob!);
          resolve(url);
        }, 'image/jpeg', 1);
      });

      newVideo.src = URL.createObjectURL(file);

      newVideo.currentTime = moment;
    })
  );

  const frames = await Promise.all(tasks);

  emit('frames', frames);
  isLoading.value = false;
}, {
  deep: true,
  debounce: 1000,
});


</script>

<style scoped lang="sass">
.cursor
  position: absolute
  width: 1px
  height: 100%
  background: rgba(#000, 0.2)
  &.start
    &::before
      position: absolute
      content: "▶"
      right: 0
  &.end
    &::before
      position: absolute
      content: "◀"
      left: 0
</style>
